In [1]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
path = '/Users/wangyunhuang/Documents/Projects/Goodreads/archive'

In [3]:
files = [file for file in os.listdir(path) if file.endswith('csv')]

In [4]:
books = pd.DataFrame()

In [5]:
for file in files:
    current = pd.read_csv(os.path.join(path, file))
    books = pd.concat([books, current])

In [6]:
books.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,...,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description,pagesNumber,Count of text reviews
0,1900511,Barbarossa,Christopher Ailsby,1840138009,3.0,2007,4,1,New Line Books,5:0,...,3:1,2:0,1:0,total:1,0,NaN,192.0,"On 22 June 1941, Adolf Hitler launched Operati...",NaN,NaN
1,1900512,Collector's Guide to German World War II: Comb...,Christopher Ailsby,0781802253,0.0,1994,7,1,Hippocrene Books,5:0,...,3:0,2:0,1:0,total:0,0,NaN,160.0,NaN,NaN,NaN
2,1900514,Images of Barbarossa,Christopher Ailsby,0711028257,3.5,2001,1,25,Ian Allan Ltd,5:0,...,3:2,2:1,1:0,total:8,0,NaN,256.0,"On 22 June 1941, Adolf Hitler launched Operati...",NaN,NaN
3,1900520,Romania After 2000: Five New Romanian Plays,Daniel Charles Gerould,0595436560,4.0,2007,9,1,Martin E. Segal Theatre Center Publications,5:1,...,3:1,2:0,1:0,total:6,0,NaN,226.0,The first anthology of new Romanian Drama publ...,NaN,NaN
4,1900521,Global Foreigners: An Anthology of Plays,Saviana Stănescu,1905422423,4.6,2006,12,7,Seagull Books,5:4,...,3:1,2:0,1:0,total:5,0,NaN,320.0,"In Waxing West, Daniella, newly arrived in the...",NaN,NaN

In [7]:
books.columns

Index(['Id', 'Name', 'Authors', 'ISBN', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'Publisher', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'PagesNumber', 'Description',
       'pagesNumber', 'Count of text reviews'],
      dtype='object')

In [8]:
books.shape

(1850310, 21)

In [9]:
books['Rating'].dtype

dtype('float64')

In [10]:
# Having error with the following code, it appears some of the values in the 'average_rating' column are not in the
# form of float


#books['Rating'] = books['Rating'].astype(float)

In [11]:
for index, value in enumerate(books['Rating']):
    try:
        float(value)
    except ValueError:
        book_title = books.loc[index, 'title']
        print(f"Cannot convert the rating of book '{book_title}' '{value}' to float, found in row {index}")

In [12]:
# Really not the kind of books I would be interested in so just drop them

#books = books.drop([4701, 5876, 8978], axis = 0)
#books = books.reset_index(drop=True)

In [13]:
books = books.drop(['PublishMonth', 'PublishDay'], axis = 1)

In [14]:
high_rate = books[books['Rating'].astype(float) > 4.0]
high_rate

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description,pagesNumber,Count of text reviews
4,1900521,Global Foreigners: An Anthology of Plays,Saviana Stănescu,1905422423,4.60,2006,Seagull Books,5:4,4:0,3:1,2:0,1:0,total:5,0,NaN,320.0,"In Waxing West, Daniella, newly arrived in the...",NaN,NaN
5,1900525,Diary of a Clone,Saviana Stănescu,092338961X,4.80,2003,Meeting Eyes Bindery,5:4,4:1,3:0,2:0,1:0,total:5,0,NaN,66.0,Poetry. Translation. DIARY OF A CLONE is a sma...,NaN,NaN
8,1900548,Motor Disturbance,Kenward Elmslie,0231036124,5.00,1971,Frank O'Hara Foundation,5:7,4:0,3:0,2:0,1:0,total:7,0,NaN,75.0,NaN,NaN,NaN
10,1900559,Reform and Counter-Reform in Capitalism,Ioan Stanescu,0964607379,5.00,1998,Algora Publishing,5:1,4:0,3:0,2:0,1:0,total:1,0,NaN,162.0,As capitalism undergoes each successive wave o...,NaN,NaN
20,1900585,"His Brain, Her Brain: How Divinely Designed Di...",Walt Larimore,031024028X,4.19,2008,Zondervan,5:115,4:79,3:30,2:8,1:8,total:240,30,en-US,233.0,"She reads people, and he reads manualsHe doesn...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34746,1499963,Wireless Data Services,Yasuhisa Nakamura,0521828430,4.50,2003,Cambridge University Press,5:1,4:1,3:0,2:0,1:0,total:2,0,NaN,NaN,"Despite their phenomenal global growth, wirele...",400.0,0.0
34747,1499964,Poder del pensamiento tenaz,Norman Vincent Peale,1400084709,4.15,2003,Grijalbo,5:37784,4:24335,3:13544,2:3362,1:1871,total:80896,1,NaN,NaN,"<i>""This book is written with the sole objecti...",288.0,1.0
34749,1499970,Why Some Positive Thinkers Get Powerful Results,Norman Vincent Peale,0449912132,4.07,1996,Ballantine Books,5:41,4:30,3:20,2:7,1:0,total:98,5,NaN,NaN,"""I am certain there is a definite relationship...",224.0,5.0
34752,1499980,The O'Brien Book of Irish Fairy Tales & Legends,Una Leavy,0862784824,4.24,1996,O'Brien Press,5:39,4:44,3:8,2:4,1:0,total:95,1,NaN,NaN,Irish fairy tales and legends are full of ench...,96.0,1.0
34754,1499988,Irish Folk and Fairy Tales Omnibus Edition,Michael Scott,0751508861,4.19,1989,Sphere,5:140,4:112,3:42,2:13,1:4,total:311,10,NaN,NaN,"Here, collected in one volume, are tales and l...",637.0,10.0

In [15]:
# Show the number of languages of the books
high_rate['Language'].nunique()

98

In [16]:
high_rate['Language'].unique()

array([nan, 'en-US', 'en-GB', 'eng', 'spa', 'fre', 'ger', 'jpn', 'nl',
       'por', 'msa', 'mul', 'per', 'sco', 'enm', 'zho', 'pol', 'rus',
       'ita', 'ave', 'mga', 'swe', 'gre', 'lat', 'tur', 'gle', 'en-CA',
       'grc', 'urd', 'glg', 'rum', 'heb', 'hun', 'kor', 'chp', 'tha',
       'frs', 'hin', 'cze', 'ind', 'ypk', 'frm', 'wel', 'ara', 'elx',
       'afr', 'tlh', 'tah', 'slv', 'srp', 'slo', 'tli', 'san', 'cop',
       'tel', 'gem', 'haw', 'nav', 'fan', 'est', 'bul', 'lav', 'yid',
       'scr', 'cat', 'gla', 'nor', 'epo', '--', 'eus', 'mal', 'ben',
       'tgl', 'dan', 'fin', 'lit', 'hmn', 'cre', 'bos', 'nub', 'tam',
       'raj', 'hye', 'fil', 'nqo', 'chi', 'sqi', 'rar', 'gmh', 'jav',
       'nld', 'myv', 'zul', 'ira', 'ssw', 'mis', 'ang', 'mah', 'non'],
      dtype=object)

In [17]:
# I read in English, Chinese and French, list the books in these languages
high_rate_mylan = high_rate[high_rate['Language'].isin(['eng', 'en-US', 'fre', 'en-GB', 'en-CA', 'zho'])]
high_rate_mylan

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description,pagesNumber,Count of text reviews
20,1900585,"His Brain, Her Brain: How Divinely Designed Di...",Walt Larimore,031024028X,4.19,2008,Zondervan,5:115,4:79,3:30,2:8,1:8,total:240,30,en-US,233.0,"She reads people, and he reads manualsHe doesn...",NaN,NaN
57,1900695,A Test Of Time: Volume One-The Bible-From Myth...,David Rohl,0099416565,4.19,2001,Arrow,5:49,4:51,3:15,2:1,1:3,total:119,6,en-GB,640.0,<i>A Test of Time</i> presents the most remark...,NaN,NaN
58,1900696,Legend: The Genesis of Civilisation,David Rohl,071267747X,4.30,1998,Century,5:54,4:29,3:9,2:6,1:1,total:99,0,eng,454.0,"A sequel to A Test of Time, this text continue...",NaN,NaN
59,1900697,A Test of Time: The Bible - from Myth to Histo...,David Rohl,0712659137,4.19,1995,Century,5:49,4:51,3:15,2:1,1:3,total:119,2,eng,425.0,NaN,NaN,NaN
74,1900725,"Automation, Production Systems, and Computer-I...",Mikell P. Groover,0132393212,4.17,2007,Prentice Hall,5:265,4:151,3:61,2:24,1:23,total:524,37,eng,815.0,"This book provides the most advanced, comprehe...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34665,1499679,The Suicide,Nikolai Erdman,0889621373,4.02,1955,Mosaic Press,5:62,4:67,3:34,2:6,1:4,total:173,0,eng,NaN,This play is hot property these days -- oddly ...,72.0,0.0
34681,1499743,Sound Synthesis and Sampling,Martin Russ,0240516923,4.09,2004,Focal Press,5:18,4:18,3:7,2:2,1:1,total:46,0,eng,NaN,Sound Synthesis and Sampling provides a compre...,425.0,0.0
34709,1499847,Star Struck,Kelly McKain,0746070616,4.08,2006,Usborne,5:60,4:29,3:17,2:6,1:7,total:119,4,en-GB,NaN,"Lucy and her friends, Jules and Tilda, answer ...",176.0,4.0
34710,1499848,Makeover Magic,Kelly McKain,0746066899,4.07,2005,Usborne,5:89,4:43,3:29,2:16,1:5,total:182,12,en-GB,NaN,"A fun and funky new series charting the hopes,...",160.0,12.0
34728,1499892,"Sir Gadabout Does His Best (Sir Gadabout, #4)",Martyn Beardsley,1858818923,4.42,2007,Orion Children's Books,5:7,4:3,3:2,2:0,1:0,total:12,1,eng,NaN,"Sir Gadabout, the Worst Knight in the World, i...",96.0,1.0

In [18]:
high_rate_mylan['RatingDistTotal'] = high_rate_mylan['RatingDistTotal'].str.extract('(\d+)')

/var/folders/ny/4cxyzmqd5dgd6wskf_d_913h0000gn/T/ipykernel_80315/3677168581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_rate_mylan['RatingDistTotal'] = high_rate_mylan['RatingDistTotal'].str.extract('(\d+)')

In [19]:
high_rate_mylan['RatingDistTotal'] = high_rate_mylan['RatingDistTotal'].astype(int)

/var/folders/ny/4cxyzmqd5dgd6wskf_d_913h0000gn/T/ipykernel_80315/253954440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_rate_mylan['RatingDistTotal'] = high_rate_mylan['RatingDistTotal'].astype(int)

In [20]:
# Filter out books with counts of ratings less than 4000

high_rate_high_rater = high_rate_mylan[high_rate_mylan['RatingDistTotal'] > 4000]
high_rate_high_rater

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description,pagesNumber,Count of text reviews
138,1900883,Mufaro's Beautiful Daughters: An African Tale,John Steptoe,0613929578,4.34,1993,Turtleback Books,5:10808,4:5527,3:2617,2:444,1:210,19606,0,eng,32.0,Mufaro has two beautiful daughters. Nyasha is ...,NaN,NaN
143,1900895,L'Art du Disque Monde,Terry Pratchett,2841723798,4.34,2007,Librairie L'Atalante,5:2634,4:1530,3:645,2:114,1:25,4948,2,fre,128.0,Le Disque-monde navigue dans l'espace sur le d...,NaN,NaN
689,1902131,The Ascent of Man,Jacob Bronowski,0141391189,4.19,2002,Penguin Books Ltd,5:2650,4:1846,3:910,2:203,1:83,5692,0,eng,448.0,"Lauded by critics &amp; devoured by readers, t...",NaN,NaN
696,1902163,A Scanner Darkly,Philip K. Dick,0586045538,4.02,1978,Panther Books,5:30614,4:33478,3:16452,2:3921,1:1515,85980,2,en-GB,254.0,"<i>A marvellous book, marvellous and terrible....",NaN,NaN
734,1902237,The House at Pooh Corner (Winnie-the-pooh),A.A. Milne,0749701161,4.37,1995,Methuen Young Books,5:45216,4:22595,3:10123,2:1553,1:771,80258,9,eng,177.0,"Winnie-the-Pooh, the Best Bear in All the Worl...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33937,1497534,"Gin Tama, Vol. 1 (Gin Tama, #1)",Hideaki Sorachi,1421513587,4.13,2007,VIZ Media LLC,5:2108,4:983,3:692,2:234,1:134,4151,89,eng,NaN,"The samurai didn't stand a chance. First, the ...",216.0,89.0
33991,1497663,"Tail of the Moon, Volume 1",Rinko Ueda,1421507641,4.20,2006,VIZ Media LLC,5:3079,4:1285,3:914,2:294,1:153,5725,85,en-GB,NaN,Sometimes it seems like Usagi is hopeless. Sur...,200.0,85.0
34293,1498453,"Dune (Dune Chronicles, #1)",Frank Herbert,0441014054,4.23,2005,The Berkley Publishing Group,5:367074,4:210130,3:96423,2:29004,1:16191,718822,22,eng,NaN,Set in the far future amidst a sprawling feuda...,563.0,22.0
34351,1498681,"Changer of Worlds (Worlds of Honor, #3)",David Weber,0671319752,4.02,2001,Baen,5:1567,4:1836,3:1102,2:158,1:22,4685,5,en-US,NaN,<b>WELCOME AGAIN TO THE MANY WORLDS OF HONOR</...,384.0,5.0
34563,1499317,Le Chien des Baskerville,Arthur Conan Doyle,225300314X,4.12,1967,LGF,5:93298,4:97877,3:45887,2:6855,1:1620,245537,15,fre,NaN,"Sir Charles Baskerville, revenu vivre une pais...",184.0,15.0

In [21]:
high_rate_high_rater = high_rate_high_rater.rename(columns = {'RatingDist5': 'NumOf5Star', 'RatingDist4': 'NumOf4Star',\
                                'RatingDist3': 'NumOf3Star','RatingDist2': 'NumOf2Star','RatingDist1': 'NumOf1Star'})

In [22]:
columns_spliting_counts = ['NumOf5Star', 'NumOf4Star', 'NumOf3Star', 'NumOf2Star', 'NumOf1Star']
for col in columns_spliting_counts:
    high_rate_high_rater[col] = high_rate_high_rater[col].str.split(':').str[1]

In [23]:
high_rate_high_rater

,Id,Name,Authors,ISBN,Rating,PublishYear,Publisher,NumOf5Star,NumOf4Star,NumOf3Star,NumOf2Star,NumOf1Star,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description,pagesNumber,Count of text reviews
138,1900883,Mufaro's Beautiful Daughters: An African Tale,John Steptoe,0613929578,4.34,1993,Turtleback Books,10808,5527,2617,444,210,19606,0,eng,32.0,Mufaro has two beautiful daughters. Nyasha is ...,NaN,NaN
143,1900895,L'Art du Disque Monde,Terry Pratchett,2841723798,4.34,2007,Librairie L'Atalante,2634,1530,645,114,25,4948,2,fre,128.0,Le Disque-monde navigue dans l'espace sur le d...,NaN,NaN
689,1902131,The Ascent of Man,Jacob Bronowski,0141391189,4.19,2002,Penguin Books Ltd,2650,1846,910,203,83,5692,0,eng,448.0,"Lauded by critics &amp; devoured by readers, t...",NaN,NaN
696,1902163,A Scanner Darkly,Philip K. Dick,0586045538,4.02,1978,Panther Books,30614,33478,16452,3921,1515,85980,2,en-GB,254.0,"<i>A marvellous book, marvellous and terrible....",NaN,NaN
734,1902237,The House at Pooh Corner (Winnie-the-pooh),A.A. Milne,0749701161,4.37,1995,Methuen Young Books,45216,22595,10123,1553,771,80258,9,eng,177.0,"Winnie-the-Pooh, the Best Bear in All the Worl...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33937,1497534,"Gin Tama, Vol. 1 (Gin Tama, #1)",Hideaki Sorachi,1421513587,4.13,2007,VIZ Media LLC,2108,983,692,234,134,4151,89,eng,NaN,"The samurai didn't stand a chance. First, the ...",216.0,89.0
33991,1497663,"Tail of the Moon, Volume 1",Rinko Ueda,1421507641,4.20,2006,VIZ Media LLC,3079,1285,914,294,153,5725,85,en-GB,NaN,Sometimes it seems like Usagi is hopeless. Sur...,200.0,85.0
34293,1498453,"Dune (Dune Chronicles, #1)",Frank Herbert,0441014054,4.23,2005,The Berkley Publishing Group,367074,210130,96423,29004,16191,718822,22,eng,NaN,Set in the far future amidst a sprawling feuda...,563.0,22.0
34351,1498681,"Changer of Worlds (Worlds of Honor, #3)",David Weber,0671319752,4.02,2001,Baen,1567,1836,1102,158,22,4685,5,en-US,NaN,<b>WELCOME AGAIN TO THE MANY WORLDS OF HONOR</...,384.0,5.0
34563,1499317,Le Chien des Baskerville,Arthur Conan Doyle,225300314X,4.12,1967,LGF,93298,97877,45887,6855,1620,245537,15,fre,NaN,"Sir Charles Baskerville, revenu vivre une pais...",184.0,15.0